:root {
    --primary: #0b57d0;
    --secondary: #c2c2c2;
    --text-color: #1d1d1d;
}

.bestseller-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 60px;
}

.bestseller-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.bestseller-title h2 {
    color: var(--text-color);
    font-size: 40px;
    font-weight: 600;
}

.bestseller-title p {
    color: #fe2c55;
    font-size: 16px;
    font-weight: 600;
}

.slick-slide {
    padding: 0 20px;
    box-sizing: border-box;
}

.slick-dots {
    position: relative;
    bottom: 0;
    margin-top: 12px;
}

.bestseller-card-link {
    color: var(--text-color);
    text-decoration: none;
}

.bestseller-card {
    height: 330px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
    background-color: #f1f1f1;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
}

.bestseller-card:hover {
    transform: translateY(-6px);
}

.bestseller-card-img {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.bestseller-card-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bestseller-card-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bestseller-card-data h2 {
    margin: 12px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.bestseller-card-data p {
    font-size: 14px;
    font-weight: 600;
}

@media screen and (max-width: 1024px) {
    .slick-list {
        height: 355px;
    }

    .bestseller-card {
        height: 355px;
    }
}

@media screen and (max-width: 800px) {
    .bestseller-container {
        margin: 40px 0 60px 0;
    }

    .bestseller-title h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 375px) {
    .bestseller-title h2 {
        font-size: 25px;
    }

    .bestseller-title p {
        padding: 0 20px;
        text-align: center;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 320px) {
    .slick-list {
        height: 375px;
    }

    .bestseller-card {
        height: 375px;
    }

    .bestseller-title p {
        text-align: center;
    }
}
