:root {
    --primary: #0b57d0;
    --secondary: #c2c2c2;
    --text-color: #1d1d1d;
    --error: #df1b41;
}

.checkout-container {
    width: 100%;
    margin: 40px 0 60px 0;
}

.checkout-form {
    width: 90%;
    margin: 0 auto;
}

.checkout-form h2 {
    color: var(--text-color);
    font-size: 26px;
    font-weight: 600;
}

.checkout-input label {
    display: flex;
    flex-direction: column;
    margin: 12px 0 6px 0;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
}

.city-pc-province {
    display: flex;
    justify-content: space-between;
}

.city-label {
    width: 50%;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
}

.postal-code-label,
.province-label {
    width: 20%;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
}

.checkout-input label input {
    padding: 6px 16px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    border: 2px solid var(--secondary);
    border-radius: 12px;
    outline: none;
    transition: all .2s ease-in-out;
}

.checkout-input label input:focus {
    border: 2px solid var(--primary);
}

.checkout-total {
    width: 90%;
    margin: 20px auto 40px auto;
}

.checkout-total h2 {
    color: var(--text-color);
    font-size: 26px;
    font-weight: 600;
}

.checkout-total p {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    color: var(--text-color);
    font-size: 18px;
}

.total-products {
    border-bottom: 1px solid var(--secondary);
}

.checkout-total-price {
    font-weight: 700;
}

@media screen and (max-width: 800px) {
    .city-label {
        width: 45%;
    }

    .postal-code-label,
    .province-label {
        width: 15%;
    }
}

@media screen and (max-width: 500px) {
    .checkout-form h2,
    .checkout-total h2 {
        font-size: 22px;
    }

    .city-pc-province {
        flex-direction: column;
    }

    .city-pc-province label {
        width: 100%;
    }
}
