:root {
    --primary: #0b57d0;
    --secondary: #c2c2c2;
    --text-color: #1d1d1d;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 40px 0 60px 0;
}

.contact-title {
    text-align: center;
}

.contact-title h2 {
    color: var(--text-color);
    font-size: 26px;
    font-weight: 600;
}

.contact-title p {
    color: #fe2c55;
    font-size: 14px;
    font-weight: 600;
}

.contact-container-content {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 100%;
    margin-top: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-info-label {
    color: var(--text-color);
    font-weight: 600;
}

.contact-info-data {
    color: var(--text-color);
    font-size: 14px;
}

.contact-user-data form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-text-field label {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
}

.name-email {
    display: flex;
    gap: 20px;
}

.contact-text-field input {
    width: 250px;
    padding: 6px 16px;
    color: var(--text-color);
    font-size: 16px;
    border: 2px solid var(--secondary);
    border-radius: 12px;
    outline: none;
    transition: all .2s ease-in-out;
}

.contact-text-field label textarea {
    resize: none;
    height: 100px;
    padding: 6px 16px;
    color: var(--text-color);
    font-size: 16px;
    border: 2px solid var(--secondary);
    border-radius: 12px;
    outline: none;
    transition: all .2s ease-in-out;
}

.contact-text-field input:focus,
.contact-text-field label textarea:focus {
    border: 2px solid var(--primary);
}

.submit-message-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    padding: 6px 12px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: var(--primary);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.submit-message-btn:hover {
    background-color: rgba(11, 87, 208, 0.8);
}

.submit-message-btn svg {
    width: 20px;
    height: 20px;
    margin: 0 6px;
}

@media screen and (max-width: 800px) {
    .contact-container-content {
        flex-direction: column;
        gap: 30px;
        padding: 0 30px;
        box-sizing: border-box;
    }    

    .name-email label {
        width: 100%;
    }

    .name-email label input {
        width: 100%;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 500px) {
    .name-email {
        flex-direction: column;
        gap: 12px;
    }

    .name-email label input {
        width: 100%;
    }
}
