:root {
    --primary: #0b57d0;
    --secondary: #c2c2c2;
    --text-color: #1d1d1d;
    --buy-now-btn-background: rgb(254, 44, 85);
}

.product-container {
    display: flex;
    width: 100%;
    margin: 60px 0;
}

.product-img-container {
    display: flex;
    justify-content: center;
    width: 50%;
}

.other-imgs-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
    height: 400px;
    padding: 0 16px;
}

.box {
    width: 100%;
    height: 60px;
    border: 2px solid var(--secondary);
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}

.box img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: contain;
}

.selected-img {
    border: 2px solid var(--primary);
    transition: 0.5s;
}

.product-img {
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-info-container {
    width: 50%;
    padding-right: 30px;
}

.product-info-container h2 {
    color: var(--text-color);
    font-size: 28px;
    font-weight: 600;
}

.product-price {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.size-container {
    display: flex;
    gap: 12px;
}

.size {
    margin: 6px 0 12px 0;
    padding: 2px 6px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    border: 2px solid var(--secondary);
    border-radius: 12px;
    cursor: pointer;
}

.size:hover {
    background-color: rgb(241, 241, 241);
}

.colors-container {
    display: flex;
    gap: 12px;
}

.color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 6px 0 12px 0;
    border: 2px solid var(--secondary);
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.color img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-quantity {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85px;
    margin-left: 6px;
    padding: 3px;
    border-radius: 50px;
    background-color: #f1f1f1;
}

.dec-quantity,
.inc-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
}

.dec-quantity:hover,
.inc-quantity:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.quantity-value {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
}

.product-btn-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    row-gap: 6px;
    margin-bottom: 12px;
}

.buy-now-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: var(--buy-now-btn-background);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.buy-now-btn:hover {
    background-color: rgba(254, 44, 85, 0.8);
}

.buy-now-btn svg {
    width: 20px;
    height: 20px;
    margin: 0 6px;
}

.shipping-data {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin: 24px 0;
}

.shipping-price,
.reimbursement,
.purchase {
    display: flex;
}

.shipping-price svg,
.reimbursement svg,
.purchase svg {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.shipping-title,
.reimbursement-title,
.purchase-title {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
}

.shipping-info,
.reimbursement-info {
    color: var(--text-color);
    font-size: 14px;
}

.purchase-info {
    display: flex;
    color: var(--text-color);
    font-size: 14px;
}

.purchase-info span {
    display: flex;
    align-items: center;
}

.purchase-info span svg {
    color: lime;
}

.product-accordion-container {
    width: 100%;
}

.product-accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 20px;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: #f1f1f1;
    transition: 0.5s;
    cursor: pointer;
}

.active-cordion,
.product-accordion:hover {
    background-color: var(--secondary);
}

.product-accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
}

.product-accordion-active:after {
    content: "\2212";
}

.product-accordion-panel {
    background-color: #ffffff;
    transition: max-height 0.5s ease-out;
}

@media screen and (max-width: 1024px) {
    .product-btn-container {
        width: 50%;
    }

    .selected-img {
        border: none;
        background-color: var(--primary);
    }
}

@media screen and (max-width: 800px) {
    .product-container {
        flex-direction: column;
    }

    .product-img-container {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .other-imgs-container {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 12px 0 24px 0;
    }

    .box {
        width: 10px;
        height: 10px;
        margin: 0 12px;
        border-radius: 50%;
    }

    .box img {
        display: none;
    }

    .product-info-container {
        width: 100%;
        margin: 40px 0;
    }

    .product-info-container h2,
    .reviews,
    .product-price,
    .product-size,
    .product-color,
    .product-quantity,
    .product-btn-container,
    .shipping-data,
    .product-accordion-container {
        padding: 0 30px;
    }

    .product-btn-container {
        width: 100%;
    }

    .product-add-to-cart-btn,
    .buy-now-btn,
    .product-accordion,
    .product-accordion-panel {
        width: calc(100% - 60px);
    }

    .product-accordion-panel {
        padding: 16px 0;
    }
}

@media screen and (max-width: 500px) {
    .product-info-container h2 {
        font-size: 24px;
    }
}

@media screen and (max-width: 400px) {
    .product-img {
        width: 350px;
        height: 350px;
    }
    
    .product-info-container h2 {
        font-size: 22px;
    }

    .product-price {
        font-size: 18px;
    }

    .product-accordion {
        font-size: 16px;
    }
}
